In [1]:
import pandas as pd
import numpy as np

In [2]:
file = pd.read_csv("C:\\Users\\Anant\\Desktop\\bangla.csv")

In [3]:
file.head()

,District,year,area,avg_rainfall,max_temperature,min_temperature,aus,aman,boro,wheat,...,Noncalcareous Brown Floodplain Soil,Shallow Red-Brown Terrace Soil,Deep Red-Brown Terrace Soil,Brown Mottled Terrace Soil,Shallow Grey Terrace Soil,Deep Grey Terrace Soil,Grey Valley Soil,Brown Hill Soil,Grey Piedmont Soil,soil moisture
0,dhaka,2008,NaN,2385,34.2,12.5,804,9691,233939,1129,...,0,0,0,0,0,0,0,0,0,124237
1,gazipur,2008,NaN,2197,30.2,19.5,4328,93956,208434,479,...,13,29623,46500,2414,8375,4660,14637,0,0,154669
2,narsingdi,2008,NaN,2197,34.2,12.5,484,93958,207669,2073,...,0,881,9800,601,0,140,687,0,0,94963
3,narayangonj,2008,NaN,2197,34.2,12.2,1617,14485,129390,4585,...,0,2800,4840,30,213,0,728,0,0,59782
4,tangail,2008,NaN,1856,34.1,10.2,447,170918,672851,17477,...,566,14764,47378,2423,1971,6390,20642,0,0,306539

In [5]:
file.fillna(file.mean())

,District,year,area,avg_rainfall,max_temperature,min_temperature,aus,aman,boro,wheat,...,Noncalcareous Brown Floodplain Soil,Shallow Red-Brown Terrace Soil,Deep Red-Brown Terrace Soil,Brown Mottled Terrace Soil,Shallow Grey Terrace Soil,Deep Grey Terrace Soil,Grey Valley Soil,Brown Hill Soil,Grey Piedmont Soil,soil moisture
0,dhaka,2008,7475.228571,2385,34.2,12.5,804,9691,233939,1129,...,0,0,0,0,0,0,0,0,0,124237
1,gazipur,2008,7475.228571,2197,30.2,19.5,4328,93956,208434,479,...,13,29623,46500,2414,8375,4660,14637,0,0,154669
2,narsingdi,2008,7475.228571,2197,34.2,12.5,484,93958,207669,2073,...,0,881,9800,601,0,140,687,0,0,94963
3,narayangonj,2008,7475.228571,2197,34.2,12.2,1617,14485,129390,4585,...,0,2800,4840,30,213,0,728,0,0,59782
4,tangail,2008,7475.228571,1856,34.1,10.2,447,170918,672851,17477,...,566,14764,47378,2423,1971,6390,20642,0,0,306539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,narsingdi,2017,282.000000,2016,27.7,14.5,565,80294,190769,352,...,0,882,7707,673,0,133,757,0,0,94978
66,narayangonj,2017,131.000000,1793,28.7,12.2,288,13100,99814,323,...,0,3059,4141,39,284,0,639,0,0,59631
67,tangail,2017,1085.000000,1632,32.0,12.8,1545,262172,700906,16703,...,596,13380,49476,2595,2014,6636,20066,0,0,306660
68,mymenshing,2017,20948.000000,1949,31.0,21.2,51783,646505,1072834,3238,...,14901,12172,21368,2367,1736,13377,6757,466,12213,390529
69,kishoregonj,2017,21395.000000,2230,32.0,12.3,45890,198538,503363,3041,...,402,34,1034,0,0,0,0,0,0,225747

In [6]:
list(file.columns)

['District',
 'year',
 'area',
 'avg_rainfall',
 'max_temperature',
 'min_temperature',
 'aus',
 'aman',
 'boro',
 'wheat',
 'potato',
 'jute',
 'humidity',
 'storm',
 'urea',
 'tsp',
 'mp',
 'DAP',
 'inundationland_Highland',
 'inundationland_mediumhighland',
 'inundationland_lowland',
 'inundationland_mediumlowland',
 'inundationland_verylowland',
 'Miscellaneous Land',
 'Calcareous Alluvium',
 'Noncalcareous Alluvium',
 'Acid Basin Clay',
 'Calcareous Brown Floodplain Soil',
 'Calcareous Grey Floodplain Soil',
 'Calcareous Dark Grey Floodplain Soil',
 'Noncalcareous Grey Floodplain Soil',
 'Noncalcareous Dark Grey Floodplain Soil',
 'Peat',
 'Made-Land',
 'Noncalcareous Brown Floodplain Soil',
 'Shallow Red-Brown Terrace Soil',
 'Deep Red-Brown Terrace Soil',
 'Brown Mottled Terrace Soil',
 'Shallow Grey Terrace Soil',
 'Deep Grey Terrace Soil',
 'Grey Valley Soil',
 'Brown Hill Soil',
 'Grey Piedmont Soil',
 'soil moisture']

In [23]:
df = file.drop(['aus','aman','boro','wheat','potato','jute','District','year'],axis = 1)

In [24]:
df

,area,avg_rainfall,max_temperature,min_temperature,humidity,storm,urea,tsp,mp,DAP,...,Noncalcareous Brown Floodplain Soil,Shallow Red-Brown Terrace Soil,Deep Red-Brown Terrace Soil,Brown Mottled Terrace Soil,Shallow Grey Terrace Soil,Deep Grey Terrace Soil,Grey Valley Soil,Brown Hill Soil,Grey Piedmont Soil,soil moisture
0,NaN,2385,34.2,12.5,71.0,yes,25967,8262,4808,1573,...,0,0,0,0,0,0,0,0,0,124237
1,NaN,2197,30.2,19.5,71.0,yes,29264,9225,9057,5721,...,13,29623,46500,2414,8375,4660,14637,0,0,154669
2,NaN,2197,34.2,12.5,71.0,no,30273,5068,5113,3031,...,0,881,9800,601,0,140,687,0,0,94963
3,NaN,2197,34.2,12.2,71.0,yes,16992,7954,7026,443,...,0,2800,4840,30,213,0,728,0,0,59782
4,NaN,1856,34.1,10.2,78.0,yes,91562,19022,20143,8809,...,566,14764,47378,2423,1971,6390,20642,0,0,306539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,282.0,2016,27.7,14.5,62.0,no,30691,5378,5062,3299,...,0,882,7707,673,0,133,757,0,0,94978
66,131.0,1793,28.7,12.2,67.0,no,17835,8771,8100,564,...,0,3059,4141,39,284,0,639,0,0,59631
67,1085.0,1632,32.0,12.8,78.0,no,93368,20321,18243,9511,...,596,13380,49476,2595,2014,6636,20066,0,0,306660
68,20948.0,1949,31.0,21.2,79.3,yes,130393,49248,53832,30994,...,14901,12172,21368,2367,1736,13377,6757,466,12213,390529
69,21395.0,2230,32.0,12.3,79.0,yes,61581,14561,21016,6921,...,402,34,1034,0,0,0,0,0,0,225747

In [16]:
#data = file[['avg_rainfall','max_temperature','min_temperature','humidity','storm','urea','tsp','mp','DAP','aus','aman','boro','wheat','potato','jute',]]

In [17]:
data.head()

,avg_rainfall,max_temperature,min_temperature,humidity,storm,urea,tsp,mp,DAP,aus,aman,boro,wheat,potato,jute
0,2385,34.2,12.5,71.0,yes,25967,8262,4808,1573,804,9691,233939,1129,33679,29825
1,2197,30.2,19.5,71.0,yes,29264,9225,9057,5721,4328,93956,208434,479,4300,15072
2,2197,34.2,12.5,71.0,no,30273,5068,5113,3031,484,93958,207669,2073,14323,42440
3,2197,34.2,12.2,71.0,yes,16992,7954,7026,443,1617,14485,129390,4585,73525,3620
4,1856,34.1,10.2,78.0,yes,91562,19022,20143,8809,447,170918,672851,17477,56693,125166

In [25]:
from sklearn.preprocessing import LabelEncoder
lbcode = LabelEncoder()
df["storm"] = lbcode.fit_transform(df["storm"])

In [26]:
df=df.fillna(df.mean())

In [27]:
df.head()

,area,avg_rainfall,max_temperature,min_temperature,humidity,storm,urea,tsp,mp,DAP,...,Noncalcareous Brown Floodplain Soil,Shallow Red-Brown Terrace Soil,Deep Red-Brown Terrace Soil,Brown Mottled Terrace Soil,Shallow Grey Terrace Soil,Deep Grey Terrace Soil,Grey Valley Soil,Brown Hill Soil,Grey Piedmont Soil,soil moisture
0,7475.228571,2385,34.2,12.5,71.0,1,25967,8262,4808,1573,...,0,0,0,0,0,0,0,0,0,124237
1,7475.228571,2197,30.2,19.5,71.0,1,29264,9225,9057,5721,...,13,29623,46500,2414,8375,4660,14637,0,0,154669
2,7475.228571,2197,34.2,12.5,71.0,0,30273,5068,5113,3031,...,0,881,9800,601,0,140,687,0,0,94963
3,7475.228571,2197,34.2,12.2,71.0,1,16992,7954,7026,443,...,0,2800,4840,30,213,0,728,0,0,59782
4,7475.228571,1856,34.1,10.2,78.0,1,91562,19022,20143,8809,...,566,14764,47378,2423,1971,6390,20642,0,0,306539

In [28]:
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeRegressor
X = df.iloc[:,:]
y = file['aus']

In [29]:
X

,area,avg_rainfall,max_temperature,min_temperature,humidity,storm,urea,tsp,mp,DAP,...,Noncalcareous Brown Floodplain Soil,Shallow Red-Brown Terrace Soil,Deep Red-Brown Terrace Soil,Brown Mottled Terrace Soil,Shallow Grey Terrace Soil,Deep Grey Terrace Soil,Grey Valley Soil,Brown Hill Soil,Grey Piedmont Soil,soil moisture
0,7475.228571,2385,34.2,12.5,71.0,1,25967,8262,4808,1573,...,0,0,0,0,0,0,0,0,0,124237
1,7475.228571,2197,30.2,19.5,71.0,1,29264,9225,9057,5721,...,13,29623,46500,2414,8375,4660,14637,0,0,154669
2,7475.228571,2197,34.2,12.5,71.0,0,30273,5068,5113,3031,...,0,881,9800,601,0,140,687,0,0,94963
3,7475.228571,2197,34.2,12.2,71.0,1,16992,7954,7026,443,...,0,2800,4840,30,213,0,728,0,0,59782
4,7475.228571,1856,34.1,10.2,78.0,1,91562,19022,20143,8809,...,566,14764,47378,2423,1971,6390,20642,0,0,306539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,282.000000,2016,27.7,14.5,62.0,0,30691,5378,5062,3299,...,0,882,7707,673,0,133,757,0,0,94978
66,131.000000,1793,28.7,12.2,67.0,0,17835,8771,8100,564,...,0,3059,4141,39,284,0,639,0,0,59631
67,1085.000000,1632,32.0,12.8,78.0,0,93368,20321,18243,9511,...,596,13380,49476,2595,2014,6636,20066,0,0,306660
68,20948.000000,1949,31.0,21.2,79.3,1,130393,49248,53832,30994,...,14901,12172,21368,2367,1736,13377,6757,466,12213,390529
69,21395.000000,2230,32.0,12.3,79.0,1,61581,14561,21016,6921,...,402,34,1034,0,0,0,0,0,0,225747

In [30]:
y

0       804
1      4328
2       484
3      1617
4       447
      ...
65      565
66      288
67     1545
68    51783
69    45890
Name: aus, Length: 70, dtype: int64

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, 
                                                    random_state=42)

clf = DecisionTreeRegressor(random_state=2019,max_depth=4)
clf2 = clf.fit(X_train, y_train)

In [32]:
y_pred = clf2.predict(X_test)

from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
print(mean_squared_error(y_test, y_pred) ** 0.5)
print(mean_absolute_error(y_test, y_pred))
print(r2_score(y_test, y_pred))

12624.93166497615
5114.329761904762
0.8735140690966349

In [33]:
y_pred

array([  4086.16666667,    983.        ,   1708.        ,    983.        ,
        54461.5       ,    983.        ,   1708.        , 103901.        ,
          248.        ,  54461.5       ,   1708.        ,   1708.        ,
         1708.        ,  54461.5       ,  45213.8       ,   1708.        ,
          560.25      ,    560.25      ,   4086.16666667,  54461.5       ,
         1708.        ,  45213.8       ,    560.25      ,    983.        ,
         1708.        ,   1708.        ,  54461.5       ,    560.25      ])

In [42]:
y_test

22      3869
0        804
49      1413
4        447
54     62927
18       907
10      1591
33    108383
45       344
12    106457
31       383
9        530
67      1545
5      88198
62     48583
30       609
58       206
35       752
57      2508
47     63482
16       516
34     46162
42       948
28       927
7       1492
53       546
40     75085
44       419
Name: aus, dtype: int64

In [49]:
!pip install graphviz

Collecting graphviz
  Downloading https://files.pythonhosted.org/packages/f5/74/dbed754c0abd63768d3a7a7b472da35b08ac442cf87d73d5850a6f32391e/graphviz-0.13.2-py2.py3-none-any.whl
Installing collected packages: graphviz
Successfully installed graphviz-0.13.2

In [35]:
import graphviz 
from sklearn import tree

In [36]:
depth_range = [3,4,5,6,7,8,9]
minsplit_range = [5,10,20,25,30]
minleaf_range = [5,10,15]

parameters = dict(max_depth=depth_range,
                  min_samples_split=minsplit_range, 
                  min_samples_leaf=minleaf_range)

from sklearn.model_selection import GridSearchCV
clf = DecisionTreeRegressor(random_state=2018)
cv = GridSearchCV(clf, param_grid=parameters,
                  cv=5,scoring='neg_mean_absolute_error')

cv.fit(X,y)
# Best Parameters
print(cv.best_params_)

print((-1)*cv.best_score_)

best_model=cv.best_estimator_

{'max_depth': 4, 'min_samples_leaf': 5, 'min_samples_split': 5}
5880.1369422244425

In [37]:
from sklearn.svm import SVR
svr = SVR(kernel='linear')
svr2 = svr.fit(X_train, y_train)
y_pred = svr2.predict(X_test)

In [39]:
y_pred

array([  7788.82501795,  24713.14084056,  -1367.25593564, -11154.62525175,
       154680.60461428,  -7171.57485578,   5603.54130557,  58068.19822695,
         6771.42606261,  76493.36456301,   7325.06154063,   5121.5869694 ,
       -14448.36632917,  51914.99476626,  31113.95596697,   4822.18881991,
         -862.14461515,  -9544.39583776,   8869.50835803, 200248.9245682 ,
         4373.89579203,  25976.23237612,  15060.16736224,  -2784.55545995,
        -1699.21994398,  -8796.63261793, 137363.65096285,   1104.90771868])

In [41]:
y_test

22      3869
0        804
49      1413
4        447
54     62927
18       907
10      1591
33    108383
45       344
12    106457
31       383
9        530
67      1545
5      88198
62     48583
30       609
58       206
35       752
57      2508
47     63482
16       516
34     46162
42       948
28       927
7       1492
53       546
40     75085
44       419
Name: aus, dtype: int64

In [38]:
print(mean_squared_error(y_test, y_pred) ** 0.5)
print(mean_absolute_error(y_test, y_pred))
print(r2_score(y_test, y_pred))

36902.01293647579
21075.444817168373
-0.08064802167666141